body{
	padding: 0px;
	border:0px;	
	overflow-y : none;
	background-color:#b3daff; 
}
#contenedor.contenedor{ 
	width: 95%;
	margin: auto;
	min-width: 300px;
}

.img{
	width: 95%;
	height: auto;
}
#Contenido, .Contenido{
	margin:15px;
	padding:10px;
	width:90%;
	background-color:#fff;